h1 {
    color: red;
    background-color: bisque;
    font-size: 20px;
    font-style: bold;
}
p{
    font-weight:400;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ul {  
    list-style-type:none;
}
a{
    color: black;
    text-decoration: none;
}

p{
    text-align: justify;
    width: 500px;
    height: 100px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}