body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

li{
    padding: 5px 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-image: linear-gradient(rgb(34, 33, 33), rgb(75, 74, 74));
    color: white;
}

.btn{
    background-color: rgb(65, 185, 226);
    border-radius: 30px;
    padding: 5px 20px;
}

button{
    border: 0;
    color: white;
}